@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Zen+Kurenaido&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Zen+Kaku+Gothic+Antique:wght@400;700&family=Zen+Kurenaido&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css?family=Sarpanch:900");
* {
  font-family: 'Zen Kurenaido', sans-serif;
  color: yellow;
  list-style: none;
}

h1 {
  font-family: 'Zen Kurenaido', sans-serif;
}

h2 {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

p {
  font-family: 'Ubuntu', sans-serif;
  color: #817e7c;
  font-size: small;
}

body {
  background-image: radial-gradient(circle, #333333, #222222);
}

.header {
  width: 100vw;
  height: auto;
  top: 5vh;
  text-align: center;
}

.header__title {
  font-family: 'Sarpanch', sans-serif;
  -webkit-transform: skew(-5deg) rotate(-5deg);
          transform: skew(-5deg) rotate(-5deg);
  font-size: 10vmin;
  margin-top: -2vmin;
  padding: 30px;
  color: #1d9099;
  text-shadow: 0.5vmin 0.5vmin 0 #E79C10, -0.5vmin -0.5vmin 0 #D53A33;
}

.header__sub-title {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  -webkit-transform: skew(-5deg) rotate(-5deg);
          transform: skew(-5deg) rotate(-5deg);
  font-size: 5vmin;
  margin: -17vmin 0 0 45vmin;
  color: #222;
  text-shadow: 0.25vmin 0.25vmin 0 #E79C10, -0.25vmin -0.25vmin 0 #D53A33;
}

.personal {
  height: 10vh;
  border: 2px solid yellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.personal__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.personal__list * {
  padding: 0 1vmin;
}

.personal__list a {
  padding: 0;
  margin: 0;
  height: 6vmin;
  width: 6vmin;
  cursor: pointer;
}

.personal__list .linkedin-icon {
  height: 4vmin;
  width: 4vmin;
  background-image: url("https://cdn-icons-png.flaticon.com/512/174/174857.png");
  background-size: cover;
  background-position: center;
}

.personal__list .github-icon {
  height: 4vmin;
  width: 4vmin;
  background-image: url("https://github.githubassets.com/images/modules/logos_page/Octocat.png");
  background-size: cover;
  background-position: center;
  background-color: #1d9099;
}

.experience h3 + p {
  color: #F00;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.skills__box-list {
  width: 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid red;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__box-list li {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */