@import "fonts";
@import "colors";

$rotationAmt:-5;

*{font-family: 'Zen Kurenaido', sans-serif;color:rgb(255, 255, 0);list-style:none;}
h1{font-family: 'Zen Kurenaido', sans-serif;}
h2{font-family: 'Zen Kaku Gothic Antique', sans-serif;}
p{font-family: 'Ubuntu', sans-serif;color:#817e7c; font-size: small;}
body { background-image: radial-gradient(circle, #333333, #222222)}

.header {
    width:100vw;
    height: auto;
    top:5vh;
    text-align: center;
    

    &__title{
        font-family: 'Sarpanch', sans-serif;
        transform: skew(#{$rotationAmt}deg) rotate(#{$rotationAmt}deg);
        grid-area: text;
        font-size: 10vmin;
        margin: 0;
        padding: 30px;
        color: #1d9099;
        text-shadow: 0.5vmin 0.5vmin 0 #E79C10, -0.5vmin -0.5vmin 0 #D53A33;
    }
    &__sub-title{
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        transform: skew(#{$rotationAmt}deg) rotate(#{$rotationAmt}deg);
        font-size: 5vmin;
        margin: -7vmin;
        // padding: -30px;
        color: #222;
        text-shadow: 0.25vmin 0.25vmin 0 #E79C10, -0.25vmin -0.25vmin 0 #D53A33;

    }
}
.experience {
    
    h3 + p {
        color:$background-color;
    }
}

.skills {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__box {
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    &__box-list {
        width: 33.33%;
        display: flex;
        border:1px solid red;
        flex-direction: column;
        // justify-content: flex-start;
        align-items: center;

        li {
            text-align: center;
        }
    }

}