@import "fonts";
@import "colors";
@import "variables";



*{
    font-family: 'Zen Kurenaido', sans-serif;
    color:rgb(255, 255, 0);
    list-style:none;
    overflow:auto;
}

h1{font-family: 'Zen Kurenaido', sans-serif;}

h2{font-family: 'Zen Kaku Gothic Antique', sans-serif;}

p{
    font-family: 'Ubuntu', sans-serif;
    color:#817e7c;
    font-size: small;
}

body {
    background-image: radial-gradient(circle, #333333, #222222);
    @include flex( column, center, center);
}

.header {
    width: 100vw;
    height: 10vw;
    top: 5vh;
    text-align: center;
    overflow:hidden;
    
    &__title{
        font-family: 'Sarpanch', sans-serif;
        transform: skew(#{$rotation-header}deg) rotate(#{$rotation-header}deg);
        font-size: 10vmin;
        margin-top: -2vmin;
        padding: 30px;
        color: #1d9099;
        text-shadow: 0.5vmin 0.5vmin 0 #E79C10, -0.5vmin -0.5vmin 0 #D53A33;
    }

    &__sub-title{
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        transform: skew(#{$rotation-header}deg) rotate(#{$rotation-header}deg);
        font-size: 5vmin;
        margin: -17vmin 0 0 45vmin;
        color: #222;
        text-shadow: 0.25vmin 0.25vmin 0 #E79C10, -0.25vmin -0.25vmin 0 #D53A33;
    }
}

main {
    @include flex( column, center, center);
    width: 80vw;
    // margin: auto;
    
    .about-me {
        @include flex( column, center, center);
        cursor:pointer;

        &__box {
            @include flex( row, center, center);

            &:hover {
                font-size: 4em;
            }
        }
    }

    .experience {
        @include flex( column, center, center);
        cursor:pointer;

        &__box {
            @include flex( row, center, center);
        }
    }

    .education {
        @include flex( column, center, center);
        cursor:pointer;

        &__box {
            @include flex( column, center, center);
            h3 {margin: 0.5vmin;}
            p {margin: 0.5vmin 0;}
        }
    }

    .experience {
        @include flex( column, center, center);
        cursor:pointer;

        h3 + p {
            color:$background-color;
        }

        &__box {
            @include flex( row, center, center);
        }
    }

    .skills {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor:pointer;
    
        &__box {
            @include flex(row, center, flex-start);
        }
        
        
        &__box-list {
            padding: 2vmin;
            width: 33.33%;
            display: flex;
            border:1px solid red;
            @include flex (column, flex-start, center);
            
            ul {
                @include flex (column, center, center);
                width:20vw;
                margin:0;

                li {
                    margin:0;
                }
                // text-align: center;
            }
        }
    }

    article:first-child {
        margin-top: 5vh;
    }

    article:last-child {
        margin-bottom: 10vh;
    }
}

.contact {
    position: fixed;
    bottom: 0;
    left: 0;
    height:10vh;
    width: 100vw;
    // border: 2px solid yellow;
    @include flex (row, center, center);

    &__list{
        @include flex (row, center, center);

        * {
            padding: 0 1vmin;
        }
        a {
            // padding:0;
            // margin:0;
            height: 2vmin;
            width: 2vmin;
            cursor: pointer;
        }
        .linkedin-icon {
            height: 4vmin;
            width: 2vmin;
            background-image: url('../assets/linkedin-icon.svg');
            background-size: cover;
            background-position: center;
        }

        .github-icon {
            height: 4vmin;
            width: 2vmin;
            background-image: url('../assets/github-icon.svg');
            background-size: cover;
            background-position: center;
            // background-color:#1d9099
        }
    }
}
